<div class="middle-box text-center animated fadeInDown">

  <h1>403</h1>
  <h3 class="font-bold"><%= dic('Доступ запрещен') %></h3>
  <div class="error-desc">
    <%= dic('Извините, но доступ к странице ограничен') %>.<br/>
    <a href="<%= dic('UrlHomePage') %>" class="btn btn-primary m-t"><%= dic('На главную') %></a>
  </div>
</div>