
.fadeInLeft-fadeOut,
.fadeInLeft-fadeOut.ng-hide-remove {
  -webkit-animation: fadeInLeft 1s;
  -moz-animation: fadeInLeft 1s;
  -ms-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}


.fadeInLeft-fadeOut.ng-hide-add {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -ms-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.fadeInRight-fadeOut,
.fadeInRight-fadeOut.ng-hide-remove {
  -webkit-animation: fadeInRight 1s;
  -moz-animation: fadeInRight 1s;
  -ms-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}


.fadeInRight-fadeOut.ng-hide-add {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -ms-animation: fadeOut 1s;
  animation: fadeOut 1s;
}


.zoomIn-fadeOut,
.zoomIn-fadeOut.ng-hide-remove {
  -webkit-animation: zoomIn 1s;
  -moz-animation: zoomIn 1s;
  -ms-animation: zoomIn 1s;
  animation: zoomIn 1s;
}

.zoomIn-fadeOut.ng-hide-add {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -ms-animation: fadeOut 1s;
  animation: fadeOut 1s;
}


.fadeInUp-fadeOut,
.fadeInUp-fadeOut.ng-hide-remove {
  -webkit-animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s;
  -ms-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
}


.fadeInUp-fadeOut.ng-hide-add {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -ms-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.fadeIn-fadeOut,
.fadeIn-fadeOut.ng-hide-remove {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.fadeIn-fadeOut.ng-hide-add {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -ms-animation: fadeOut 1s;
  animation: fadeOut 1s;
}
  
.flipInX-flipOutX,
.flipInX-flipOutX.ng-hide-remove {
  -webkit-animation: flipInX 1s;
  -moz-animation: flipInX 1s;
  -ms-animation: flipInX 1s;
  animation: flipInX 1s;
}

.flipInX-flipOutX.ng-hide-add {
  -webkit-animation: flipOutX 1s;
  -moz-animation: flipOutX 1s;
  -ms-animation: flipOutX 1s;
  animation: flipOutX 1s;
}