
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.half-width {
  width: 50% !important;
}

.full-screen { 
  display:table;
  position:fixed;
  top:0; 
  left:0; 
  width:100%; 
  height:100%;
  min-height: 100%;
}

.middle { 
  display: table-cell;
  vertical-align: middle;
}

.ellipse-overflow {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width:100%;
  display:block;
}

.btn-file,
.link-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file],
.link-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.dropdown-menu {
  max-width:300px;
}



