<div class="header header-sticky" data-ng-controller="header">
  
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="index.html">
            <img src="/images/logo1-default.png" alt="Logo">
        </a>
        <!-- End Logo -->

        <div data-ng-include="'topbar.html'"></div>

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <div data-ng-include="'menu.html'"></div>
</div>