<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Main view</title>

    <link rel="stylesheet" href="/admin/styles/animate.css">
    <link rel="stylesheet" href="/admin/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/admin/styles/font-awesome.css">

    
    <link rel="stylesheet" href="/admin/styles/style.css">

  </head>
  <body class="skin-0"> 
    <%- body %>
    
    <!-- Mainly scripts -->
    <script src="/admin/js/dependencies/jquery.js"></script>
    <script src="/admin/js/dependencies/bootstrap.js"></script>
    <script src="/admin/js/dependencies/jquery.metisMenu.js"></script>
    <script src="/admin/js/dependencies/jquery.slimscroll.js"></script>
    
    <!-- Custom and plugin javascript -->
    <script src="/admin/js/dependencies/inspinia.js"></script>
    <!--script src="js/plugins/pace/pace.min.js"></script-->

  </body>
</html>