<div class="wrapper">
  <div class="container content">		
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="error-v1">
          <span class="error-v1-title">403</span>
          <span><%= dic('Доступ запрещен') %></span>
          <p><%= dic('Извините, но доступ к странице ограничен') %>.</p>
          <a class="btn-u btn-bordered" href="<%= dic('UrlHomePage') %>"><%= dic('На главную') %></a>
        </div>
      </div>
    </div>
  </div>
</div>