<div class="wrapper">
  <div class="container content">		
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="error-v1">
          <span class="error-v1-title">404</span>
          <span><%= dic('Страница не найдена') %></span>
          <p><%= dic('Извините, но страница которую вы ищите не найдена') %>.</p>
          <a class="btn-u btn-bordered" href="<%= dic('UrlHomePage') %>"><%= dic('На главную') %></a>
        </div>
      </div>
    </div>
  </div>
</div>