<div class="middle-box text-center animated fadeInDown">
    
  <h1>500</h1>
  <h3 class="font-bold"><%= dic('Ошибка сервера') %></h3>
  <div class="error-desc">
    <%= dic('Сервер столкнулся с непредвиденной ошибкой') %>.<br/>
    <a href="<%= dic('UrlHomePage') %>" class="btn btn-primary m-t"><%= dic('На главную') %></a>
  </div>
</div>
