<div class="wrapper">
  <div class="container content">		
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="error-v1">
          <span class="error-v1-title">500</span>
          <span><%= dic('Ошибка сервера') %></span>
          <p><%= dic('Сервер столкнулся с непредвиденной ошибкой') %>.</p>
          <a class="btn-u btn-bordered" href="<%= dic('UrlHomePage') %>"><%= dic('На главную') %></a>
        </div>
      </div>
    </div>
  </div>
</div>