<!DOCTYPE html>
<html>
  <head>
    <title><%= dic('Title') %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/unify/ie8.css">
    <link rel="stylesheet" href="/styles/unify/blocks.css">
    <link rel="stylesheet" href="/styles/unify/plugins.css">
    <link rel="stylesheet" href="/styles/unify/app.css">
    <link rel="stylesheet" href="/styles/unify/styles.css">
    <link rel="stylesheet" href="/styles/unify/header-default.css">
    <link rel="stylesheet" href="/styles/unify/footer-v1.css">
    <link rel="stylesheet" href="/styles/unify/page_404_error.css">
    <link rel="stylesheet" href="/styles/unify/page_log_reg_v1.css">
    <link rel="stylesheet" href="/styles/unify/red.css">
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/owl.carousel.css">
    <link rel="stylesheet" href="/styles/ladda-themeless.min.css">
    <link rel="stylesheet" href="/styles/toastr.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/layerslider.css">
    <!--STYLES END-->
  </head>
  <body class="header-fixed"> 
    <%- body %>
    <!--TEMPLATES-->
    <script type="text/javascript" src="/templates/jst.js"></script>
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/underscore.js"></script>
    <script src="/js/dependencies/_.escape.js"></script>
    <script src="/js/dependencies/sprintf.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/moment.js"></script>
    <script src="/js/dependencies/moment-duration-format.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/back-to-top.js"></script>
    <script src="/js/dependencies/smoothScroll.js"></script>
    <script src="/js/dependencies/owl.carousel.js"></script>
    <script src="/js/dependencies/layerslider/greensock.js"></script>
    <script src="/js/dependencies/layerslider/layerslider.transitions.js"></script>
    <script src="/js/dependencies/layerslider/layerslider.kreaturamedia.jquery.js"></script>
    <script src="/js/dependencies/spin.min.js"></script>
    <script src="/js/dependencies/ladda.min.js"></script>
    <script src="/js/angular/modules/ui-bootstrap-tpls.js"></script>
    <script src="/js/angular/modules/angular-animate.js"></script>
    <script src="/js/angular/modules/angular-ladda.js"></script>
    <script src="/js/angular/modules/angular-sanitize.js"></script>
    <script src="/js/angular/modules/angular-sprintf.js"></script>
    <script src="/js/angular/modules/angular-toastr.tpls.js"></script>
    <script src="/js/angular/modules/angular-ui-router.js"></script>
    <script src="/js/angular/modules/angular-utf8-base64.js"></script>
    <script src="/js/angular/app.js"></script>
    <script src="/js/angular/providers/route.js"></script>
    <script src="/js/angular/constants/const.js"></script>
    <script src="/js/angular/constants/regexp.js"></script>
    <script src="/js/angular/constants/urls.js"></script>
    <script src="/js/angular/constants/value.js"></script>
    <script src="/js/angular/configs/general.js"></script>
    <script src="/js/angular/services/alert.js"></script>
    <script src="/js/angular/services/event.js"></script>
    <script src="/js/angular/services/init.js"></script>
    <script src="/js/angular/services/log.js"></script>
    <script src="/js/angular/services/payload.js"></script>
    <script src="/js/angular/services/utils.js"></script>
    <script src="/js/angular/factories/auth.js"></script>
    <script src="/js/angular/factories/dictionary.js"></script>
    <script src="/js/angular/factories/page.js"></script>
    <script src="/js/angular/directives/after-load.js"></script>
    <script src="/js/angular/directives/back.js"></script>
    <script src="/js/angular/directives/check-field.js"></script>
    <script src="/js/angular/directives/file-change.js"></script>
    <script src="/js/angular/directives/layerslider.js"></script>
    <script src="/js/angular/directives/navbar.js"></script>
    <script src="/js/angular/controllers/404.js"></script>
    <script src="/js/angular/controllers/boot.js"></script>
    <script src="/js/angular/controllers/footer.js"></script>
    <script src="/js/angular/controllers/header.js"></script>
    <script src="/js/angular/controllers/home.js"></script>
    <script src="/js/angular/controllers/login.js"></script>
    <script src="/js/angular/controllers/test.js"></script>
    <script src="/js/angular/controllers/user/profile.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/owl-recent-works.js"></script>
    <script src="/js/ready.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
